<h1>Login</h1>

<form action="/sessions/create" method="post">
	<input type="text" placeholder="Movie Search" name="movie"></br>

<% @i.each do |movie| %>
	<%= movie.title %>
<% end %>
     

</br>
</form>